<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>MedNet</title>
</head>
<body>
    <h1>MedNet</h1>
    <header>
        <div id="kk-big-baner" >
        <a href="index.html"><img id="kk-btn-close" width="140px" src="medlogo.jpg"/>		
        </a>
    </div>
           <div>
            <a href="index.html" class="myButton">sākums</a> 
            <a href="doktoratiunpoliklinikas.html" class="myButton">Doktorati un Poliklinkas</a>
            <a href="kontakti.html" class="myButton">Kontakti</a>
            <a href="arsti.html" class="myButton">Ārsti</a>
           </div>
        </header> 
        <br> 
        <input type="text" id="myInput" placeholder="Ārsta vārds uzvārds">
        <input type="text" id="myInput" placeholder="darba joma">
        <input type="text" id="myInput" placeholder="darba laiks">
        <button class="submit" type="submit">add</button>
        <ul id="arstuUL">
            <li>Sņežana Novaha</li>
        </ul>
    
        <script src="js/global.js"></script>
    </body>
    </html>