<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>MedNet</title>
</head>
<body>
    <h1>MedNet</h1>
    <header>
        <div id="kk-big-baner" >
        <a href="/"><img id="kk-btn-close" width="140px" src="static/medlogo.jpg"/>		
        </a>
    </div>
           <div>
            <a href="/" class="myButton">sākums</a> 
            <a href="/doktoratiunpoliklinikas" class="myButton">Doktorati un Poliklinkas</a>
            <a href="/kontakti" class="myButton">Kontakti</a>
            <a href="/arsti" class="myButton">Ārsti</a>
           </div>
        </header> 
        <input type="text" id="myInput" placeholder="slimnīca">
        <input type="text" id="myInput" placeholder="adrese">
        
        <button id="submit" type="submit">add</button>
        <ul id="slimnicasUL">
            <li></li>
        </ul>

        <div id="saraksts">
          
        </div>

        <button class="buttonForSubmit" type="button" onclick="slimnicuIzdzesana()">Izdzest visas vizites</button>

        <script src="static/js/global.js"></script>
    </body>
    </html>