<!DOCTYPE html>
<html lang="lv">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>MedNet</title>
</head>
<body>
    <h1>MedNet</h1>
    <header>
        <div id="kk-big-baner" >
        <a href="/"><img id="kk-btn-close" width="140px" src="static/medlogo.jpg"/>		
        </a>
        </div>
           <div>
            <a href="/" class="myButton">sākums</a> 
            <a href="/doktoratiunpoliklinikas" class="myButton">Doktorati un Poliklinkas</a>
            <a href="/kontakti" class="myButton">Kontakti</a>
            <a href="/arsti" class="myButton">Ārsti</a>
           </div>
    </header> 
          
        
          

          
          <input type="text" id="slimnica" placeholder="slimnīca">
          <input type="text" id="slimnicaAdrese" placeholder="adrese">
        
          <button id="pievienotSlimnicas" type="submit"onclick="slimnicu_ievade()">add</button>
          
        
        <ul id="slimnicuUl">
          <div id="slimnicuSaraksts">
          
          </div>
        </ul>

       

        <button class="buttonForDeletion" type="button" onclick="slimnicuIzdzesana()">Izdzest visas vizites</button>

        <div id="container"></div>
        <br>
        <div>
        <button id="arstiDrop">Ārsti</button>
        </div>
         
        
      
    


        <script src="static/js/global.js"></script>
    </body>
    </html>