<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>MedNet</title>
</head>
<body>
    <h1>MedNet</h1>
    <header>
        <div id="kk-big-baner" style="display:none;">
        <img id="kk-btn-close" width="40px" src="static/medlogo.jpg"/>		
        <a href="/"><img  src="medlogo.jpg"/></a>
    </div>
           <div>
            <a href="/" class="myButton">Sākums</a> 
            <a href="/doktoratiunpoliklinikas" class="myButton">klīnikas</a>
            <a href="/kontakti" class="myButton">Kontakti</a>
            <a href="/arsti" class="myButton">ārsti</a>
           </div>
        </header>   
        <p>
            tālrunis - +371 2979900
        </p>   
        
    <script src="static/js/global.js"></script>
</body>
</html>
    
</body>
</html>